body {
  --s:67px; /* shape size */
  --m:4px;  /* line thickness */

  --v1: #000000 119.5deg, #0000 120.5deg;
  --v2: #000000  119.5deg, #0000 120.5deg;
  background:
    conic-gradient(at var(--m)              calc(var(--s)*0.5777), transparent 270deg, #000 0deg),
    conic-gradient(at calc(100% - var(--m)) calc(var(--s)*0.5777), #000 90deg,  transparent 0deg),
    conic-gradient(from -60deg at 50% calc(var(--s)*0.8662)             , var(--v1)),
    conic-gradient(from -60deg at 50% calc(var(--s)*0.8662 + 2*var(--m)), var(--v2)),
    conic-gradient(from 120deg at 50% calc(var(--s)*1.4435 + 3*var(--m)), var(--v1)),
    conic-gradient(from 120deg at 50% calc(var(--s)*1.4435 +   var(--m)), var(--v2)),
    linear-gradient(90deg, #000000 calc(50% - var(--m)),#000 0 calc(50% + var(--m)), #000000 0);
  background-size: calc(var(--s) + 2*var(--m)) calc(var(--s)*1.732 + 3*var(--m)); 
  mix-blend-mode:lighten;
}
body:before {
  content: "";
  position: absolute;
  inset: 0;
  background:linear-gradient(90deg,black,#121212,black) left/400% 100%;
  animation:f 2s infinite alternate linear;
}

@keyframes f {
  100% {background-position:right}
}

.menubar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border-radius: 25px;
  border: 2px solid #737373;
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 70px;
  width: 500px;
  background: rgba(28, 28, 28, .2);
  animation: xpro-isbest 3s ease-in-out infinite;
}

.menubar:hover {
  border: 2px solid #b3b3b3;
}

.menubar a img {
  width: 75%;
  height: 75%;
  padding: 10px;
  border-radius: 40px;
  border: none;
}

.incognito:hover img {
  filter: brightness(1.1);
  background-color: #00A1FF;
  transform: scale(1.1);
}

.terbium:hover img {
  filter: brightness(1.1);
  background-color: #38B253;
  transform: scale(1.1);
}

.utopia:hover img {
  filter: brightness(1.1);
  background-color: #607D8B;
  transform: scale(1.1);
}

.fracital:hover img {
  filter: brightness(1.1);
  background-color: #CB6CE6;
  transform: scale(1.1);
}

.imperium:hover img {
  filter: brightness(1.1);
  background-color: #9F2424;
  transform: scale(1.1);
}

.generalmath:hover img {
  filter: brightness(1.1);
  background-color: #012421;
  transform: scale(1.1);
}

.elixir:hover img {
  filter: brightness(1.1);
  background-color: #F59521;
  transform: scale(1.1);
}
.abyss:hover img {
  filter: brightness(1.1);
  background-color: #000000;
  transform: scale(1.1);
}
.searchbox {
  background: rgba(28, 28, 28, .8);
  top: calc(50% + 90px);
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 999;
  border-radius: 25px;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: 2px solid #737373;
  height: 20px;
  width: 300px;
  overflow: hidden;
}
.searchbox:hover {
  border: 2px solid #b3b3b3;
}
.searchbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  animation: cpisagoodmovie 3s ease-in-out infinite;
}
@keyframes cpisagoodmovie {
  0%{
    transformation: translate(-50%, -50%) translateY(0);
  }
  50%{
    transform: translate(-50%,-50%) translateY(-3px);
  }
  100%{
    transform: translate(-50%, -50%) translateY(0);
  }
}

.searchbox input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 5px;
  background-color: transparent;
  color: white;
  text-align: center;
}
